{% extends "adminLayout.html.twig" %}
{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="/assets/css/admin/adminActivities.css">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center my-5">Administration des administrateurs</h1>
    </div>
    <div class="row">
        <div class="row justify-content-center">
            <a class="btn btn-primary btnAddActivity" href="#" role="button">Ajouter un
                administrateur</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover my-5">
            <thead class="bg-dark">
                <tr>
                    <th scope="col">Adminitrateur</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for admin in admins %}
                    <tr class="align-middle">
                        <td> {{ admin.lastname|capitalize ~ ' ' ~ admin.firstname|capitalize }} </td>
                        <td> {{ admin.email }} </td>
                        <td> {{ admin.phone }} </td>
                        <td class="text-center"><a class="btn btn-primary py-1 btnAddActivity" 
                            href="#" role="button">Modifier</a>
                        </td>
                        <td class="text-center">
                            <form action="/admin/activites/suppression" method="POST">
                                <input type="hidden" name="activity_id" id="activity_id" value=" {{ activity.activity_id }} ">
                                <button class="btn btn-primary btnAddActivity">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}