{% extends "adminLayout.html.twig" %}
{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="/assets/css/admin/adminActivities.css">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center my-5">Administration des activitées</h1>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-primary btnAddActivity" href="/admin/activites/ajouter" role="button"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg> Ajouter une activité</a>
    </div>
    <div class="row">
        <table class="table table-hover my-5">
            <thead class="bg-dark">
                <tr>
                    <th scope="col">Activité</th>
                    <th scope="col">Entraîneur</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for activity in activities %}
                <tr class="align-middle">
                    <td> {{ activity.name }} </td>
                    <td> {{ activity.trainer ?? 'Pas d\'entraîneur' }} </td>
                    <td class="text-center">
                    <a class="btn btn-primary py-1 btnAddActivity" 
                        href="activites/modifier?id={{ activity.id }}" role="button"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg>  Modifier</a>
                    </td>
                    <td class="text-center">
                        <form action="activites/suppression" method="post">
                            <input type="hidden" name="id" id="id" value=" {{ activity.id }} ">
                            <button class="btn btn-primary py-1 btnAddActivity"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg> Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}