{% block stylesheet %}
<link rel="stylesheet" href="assets/css/admin/adminActivityForm">
{% endblock %}
<div class="row">
    {% for error in errors %}
    <div class="alert alert-danger p-0 ps-4 col-6 offset-3">
        <p class="p-0 m-0 fs-6">{{ error }}</p>
    </div>
    {% endfor %}
</div>
<div class="row">
    <form action="" method="POST" class="mb-5 mt-2" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3 col-6 offset-3 p-0">
                <label for="name" class="form-label">Activité</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Roller Skating"
                    value="{{ data.name }}">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-3 offset-3 p-0">
                <label for="schedule" class="form-label">Horaires</label>
                <input type="text" name="schedule" id="schedule" class="form-control" placeholder="20h - 22h"
                    value="{{ data.schedule }}">
            </div>
            <div class="mb-3 col-3 p-0">
                <label for="days" class="form-label">Jours</label>
                <input type="text" name="days" id="days" class="form-control" placeholder="Mardi - Jeudi"
                    value="{{ data.days }}">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-6 offset-3 p-0">
                <label for="trainer" class="form-label">Entraîneur</label>
                <select name="trainer" id="trainer" class="form-select">
                    <option value="">Pas d'entraîneur</option>
                    {% for trainer in trainers %}
                    <option value="{{ trainer.id }}" {% if trainer.id==data.trainer %} selected {% endif %}>
                        {{ trainer.lastname ~ ' ' ~ trainer.firstname }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-6 offset-3 p-0">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" id="description" class="form-control pb-5"
                    placeholder="Décrivez l'activité">{{ data.description }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-6 offset-3  p-0">
                <label for="who" class="form-label">Pour qui ?</label>
                <textarea name="who" id="who" class="form-control"
                    placeholder="Décrivez la cible">{{ data.who }}</textarea>
            </div>
        </div>
        <div class="row p-0">
            <div class="col-6 mb-5 offset-3 p-0">
                <label for="file" class="form-label">Image de l'activité</label>
                <input class="form-control" type="file" id="file" name="file">
            </div>
        </div>
        <div class="row">
            <button class="btn btn-secondary offset-5 col-2 mt-2">{{ button_name|default('Ajouter') }}</button>

            <a href="/admin/activites" class="btn btn-outline-dark col-1  mt-2 offset-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
					class="bi bi-arrow-left-circle-fill me-2" viewbox="0 0 16 16">
					<path
						d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
				</svg>Retour</a>
        </div>
    </form>
</div>